austin
click==8.1
ipython==8.26
mypy==1.11
neo4j==5.23
numpy==1.26
openai==1.40
pgvector==0.3
psycopg-binary==3.2
psycopg==3.2
pydantic==2.8
pytest==8.3
scipy==1.14
spacy==3.7
tiktoken==0.7
tqdm==4.66
types-tqdm==4.66
